build --compilation_mode="opt"
build --distdir=".distdir"

build --copt="-w"
build --copt="-march=native"
build --copt="-O3"
build --copt="-ggdb"
build --cxxopt="-std=c++17"
build --strip="never"

build:neighbor_hugepage --copt="-DNEIGHBOR_HASH_HUGEPAGE"
build:neighbor_simd --copt="-DNEIGHBOR_HASH_SIMD_FIND"

build:clang --repo_env="CC=clang"

clean --async
