build --compilation_mode="opt"

build --copt="-march=native"
build --copt="-O3"
build --copt="-ggdb"

build:neighbor_hugepage --copt="-DNEIGHBOR_HASH_HUGEPAGE"
build:neighbor_simd --copt="-DNEIGHBOR_HASH_SIMD_FIND"

build --strip="never"
build --cxxopt="-std=c++17"

build --copt="-Wno-unknown-warning-option"
build --copt="-Wno-deprecated-builtins"
build --copt="-Wno-deprecated-declarations"
build --copt="-Wno-deprecated-non-prototype"
build --copt="-Wno-inconsistent-missing-override"
build --copt="-Wno-unknown-warning-option"
build --copt="-Wno-unused-but-set-variable"
build --copt="-Wno-unused-function"
build --copt="-Wno-unused-parameter"
build --copt="-Wno-unused-private-field"
build --copt="-Wno-unused-variable"

clean --async
